
@font-face {
    font-family: LackLine-Regular;
    src:  url("lack line - regular.ttf"); /*  format('otf') */
}

@font-face {
    font-family: Vasek-Italic;
    src:  url("vasek - italic.ttf"); /*  format('otf') */
}

